.box {
  background-color: gray;
  width: 94%;
  margin: 0 auto;
}

.button {
  width: 100%;
  font-weight: bold;
  background-color: rgb(36, 173, 152);
  color: rgb(255, 255, 255);
  padding: 20px 40px;
}

@media (min-width: 361px) {
  .box {
    width: 96%;
  }
}

@media (min-width: 769px) {
  .box {
    width: 720px;
  }
  .button {
    width: auto;
  }
}

@media (min-width: 1025px) {
  .box {
    width: 996px;
  }
}

@media (hover: hover) {
  .button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(36, 173, 152);
  }
}
